- if notice 
  .alert-box.text-center.success{"data-alert" => ""}
    = notice
    = link_to "#", class: "close" do
      &times;

- if alert
  .alert-box.text-center.alert{"data-alert" => ""}
    = alert
    = link_to "#", class: "close" do
      &times;
